{% extends "admin/base_site.html" %}
{% block content %}
  <style>
    html, body {
      height: 100%;
      overflow: hidden;
    }
    #container, .main, #content, #content-main {
      height: 100%;
    }
    #content, #content-main {
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    .ce-sheet-page {
      width: 100%;
      box-sizing: border-box;
      padding: 0;
      height: calc(100vh - 66px);
      overflow: hidden;
    }
    .ce-sheet-shell {
      width: 100%;
      margin: 0;
      background: #fff;
      border: 0;
      border-radius: 0;
      padding: 0;
      box-sizing: border-box;
      height: 100%;
      overflow: visible;
      display: flex;
      flex-direction: column;
    }
  </style>

  <div class="ce-sheet-page">
    <div class="ce-sheet-shell">
      {% include "admin_dash/includes/xsheet_preview.html" with sheet_id="db-type-full-sheet" sheet_headers=sheet_headers sheet_rows=sheet_rows sheet_height=760 sheet_deferred=True %}
    </div>
  </div>
{% endblock %}
